@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>jcly</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="URL" class="control-label"></label>
        <input asp-for="URL" class="form-control" />
    </div>

    <div class="form-group align-items-center">
        <input type="submit" value="Generate" class="btn btn-primary" />
    </div>
</form>